.search-page {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  min-height: 90vh;
}

.search-user {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.search-results {
  background-color: #ecf0f1;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  height: 500px;
  width: 80%;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr auto ;
  align-items: center;
}

input {
  border: none;
  outline: none;
  padding: none ;
  margin-left: 5px;
  border-radius: inherit;
}
.search-icon {
  color: #555; 
  font-size: 20px; 
  margin:10px;
}

.user-card {
  width: 25%  ;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.user-card p {
  margin: 0;
  font-size: 16px;
  /* font-weight: bold; */
  color: #333;
}

