.search-page {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  min-height: 90vh;
  background-color: #F8F6F0;
}

.search-user {
  display: grid;
  grid-template-columns: 3fr auto 1fr;
  gap: 10px;
  text-align: center;
  margin-bottom: 20px; /* Adjust as needed */
  color: #F8F6F0;
  background-color: #5c5452;
  border-radius: 30px;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.search-input {
  /* border: */
  /* border-radius: 5px; */
  display: grid;
  grid-template-columns: 3fr auto;
  align-items: center;
  height: 30px;
}
::placeholder{
  color: #F8F6F0;
}

input {
  border: none;
  outline: none;
  padding: none;
  margin-left: 5px;
  border-radius: inherit;
  background-color: #5c5452;
  color: #F8F6F0;
  font-size: 15px;
}
.search-icon {
  color: #F8F6F0;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.dropped {
  /* appearance: none; */
  background-color: transparent;
  border: none;
  padding: 8px;
  color: inherit;
  cursor: pointer;
  margin-right:10px ;
  font-size: 15px;  
}

.dropped:focus {
  outline: none; /* Remove default outline */
  border-color: transparent; /* Remove the border color on focus */
}

.dropped option {
  background-color: #5c5452;
  color: #f8f6f0;
}



.user-card {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  /* width: 25%  ; */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.search-results {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: #ecf0f1;
  align-items: start;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  height: 500px;
  width: 80%;
}
/* popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's above other elements on the page */
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* Adjust the maximum width as needed */
}

.popup-close {
  margin: 0px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  text-align: right;
  font-size: 24px;
  /* align-items: left; */
}

.popup-content form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.popup-content label {
  font-weight: bold;
  color: #555;
}

.popup-content input {
  width: 100%;
  padding: 8px;
  /* border: 1px solid #ccc; */
  border-bottom: 1.5px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
  background-color: transparent;
  color: #333;
}

.name {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}



.button1 {
  background-color: #5c5452;
  border-color: #1d1b1b;
  color: #F8F6F0;
}


