/* UserInfo.css */

.user-info-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}



.user-initial-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
}

.user-initial-circle {
  width: 50px;
  height: 50px;
  background-color: #3498db; /* Choose your desired background color */
  color: #fff; /* Choose your desired text color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-details {
  text-align: left; /* Adjust text alignment as needed */
}

.user-info-item {
  margin: 0;
}

.user-initial {
  font-size: 20px;
  margin: 0;
}

.user-details-form {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}



.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px; /* Increase border radius */
}


/* Style read-only inputs differently */
.form-input[readonly] {
  background-color: #eee;
  /* cursor: not-allowed; */
}
