.back-button {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  text-align: left;
  margin-left: 100px;
}

.back-button:hover {
  color: #555;
}
.user-info-container {
  display: grid;
  gap: 20px;
  padding: 30px;
  
  margin: 0px 90px;
  margin-right: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-initial-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 20px;
}

.user-initial-circle {
  width: 50px;
  height: 50px;
  background-color: #5c5452; /* Choose your desired background color */
  color: #F8F6F0; /* Choose your desired text color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 50px; */
}
.circle{
  width: 100px;
  height: 100px;
}

.user-info-details {
  text-align: left; /* Adjust text alignment as needed */
}
.user-info-details{
  display: grid;
  align-items: center;
}

.user-info-item {
  margin: 0;
}

.user-initial {
  font-size: 20px;
  margin: 0;
}

.user-details-form {
  /* max-width: 800px;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  gap: 20px;
 /* padding: 10px; */
}
.form-column {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  color: #5c5452;
}

.form-label {
  font-weight: bold;
}

.form-input {
  border: 1px solid #ccc;
  padding: 8px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 15px;
}

.form-input-with-border {
  border: 1px solid #000;
}
